<div id="produits" class="transitions-enabled">
    <% @produits.each do |produit| %>
      <div class="box panel panel-default">    
        <%= image_tag produit.image.url (:thumb)%>
        <div class="panel-body"> 
          <%= produit.nom %>
          <%= produit.user_id if produit.user %>
          <%= produit.description %>
          <%= link_to 'Show', produit %>
          <% if produit.user == current_user %>
            <%= link_to 'Edit', edit_produit_path(produit) %>
            <%= link_to 'Destroy', produit, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>



